:root {
  --main-color: #074382;
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  direction: rtl;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
header {
  background-color: var(--main-color);
  width: 100vw;
  height: 18vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4em;
}
.logo {
  height: 4em;
  width: 6em;
}
.logo img {
  height: 100%;
  width: 100%;
}
.lang {
  width: 3em;
  height: 2em;
}

.gov {
  height: 100%;
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
}
.gov p {
  font-size: 1.5em;
}
section {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  height: 85%;
  background-color: #fff;
  width: 60%;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.top img {
  width: 30%;
  height: 65%;
}
.top p {
  font-size: 1.3em;
  padding-bottom: 2em;
}
.bottom {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.bottom p {
  font-size: 1.1em;
  font-weight: bold;
}
button {
  border: none;
  width: 4em;
  height: 3em;
}
button img {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
